<h1>Cryptographers</h1>

<form action="/submit" method="post" class="flex-col">
  <input type="hidden" name="authenticity_token" value="<%=
  form_authenticity_token
  %>">

  <div class="flex-row">
    <label for="act">Action:</label>
    <select class="inputArea" id="act" name="act">
      <option value="encrypt" selected>Encrypt</option>
      <option value="decrypt">Decrypt</option>
    </select>
  </div>
  
  <div class="flex-row">
    <label for="cipher">Cipher:</label>
    <select class="inputArea" id="cipher" name="cipher">
      <option value="standard-vigenere" selected>Standard Vigenere</option>
      <option value="auto-key-vigenere">Auto-Key Vigenere</option>
      <option value="extended-vigenere">Extended Vigenere</option>
      <option value="playfair">Playfair</option>
      <option value="affine">Affine</option>
      <option value="hill">Hill</option>
      <option value="transposition">Transposition</option>
      <option value="se-xvigenere-transpose">Super Encryption: Extended Vigenere - Transposition </option>
      <option value="se-transpose-xvigenere">Super Encryption: Transposition - Extended Vigenere</option>
      <option value="enigma">Enigma</option>
    </select>
  </div>

  <div class="flex-row">
    <label for="inputType">Input Type:</label>
    <select class="inputArea" id="inputType" name="input_type">
      <option value="textInput">Text</option>
      <option value="fileInput">File</option>
    </select>
  </div>

  <div class="flex-row" id="fileInput" style="display:none;">
    <label for="file">File:</label>
    <input class="inputArea" type="file" id="file" name="file">
  </div>

  <div class="flex-row" id="textInput">
    <label for="message">Message:</label>
    <div class="flex-col-left inputArea">
      <textarea id="message" name="message"></textarea>
      <div class="flex-row">
        <div class="radio">
          <input type="radio" id="msg-plain" name="group_msg" value="plain" checked>
          <label for="msg-plain">Plaintext</label>
        </div>
        <div class="radio">
          <input type="radio" id="msg-base64" name="group_msg" value="base64">
          <label for="msg-base64">Base64</label>
        </div>
      </div>
    </div>
  </div>
  
  <div class="flex-col">
    <div class="flex-row">
      <label for="key">Key:</label>
      <div class="flex-col-left inputArea">
        <input type="text" id="key" name="key">
        <p class="info-text" id="info-text"></p>
        <div class="flex-row">
          <div class="radio">
            <input type="radio" id="key-plain" name="group_key" value="plain" checked>
            <label for="key-plain">Plaintext</label>
          </div>
          <div class="radio">
            <input type="radio" id="key-base64" name="group_key" value="base64">
            <label for="key-base64">Base64</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <input type="submit" value="Submit">
</form>

<div id="result" class="flex-row result">
  <label for="result">Result:</label>
  <span id="result-text">N/A</span>
</div>

<div id="result-base64" class="flex-row result">
  <label for="result-base64">Result (Base64):</label>
  <span id="result-base64-text">N/A</span>
</div>

<div id="save-file" class="flex-row-center">
  <button>Save Result As File</button>
</div>