<h1>Cryptographers</h1>

<form action="/submit" method="post" class="flex-col">
  <input type="hidden" name="authenticity_token" value="<%=
  form_authenticity_token
  %>">

  <div class="flex-row">
    <label for="act">Action:</label>
    <select id="act" name="act">
      <option value="encrypt" selected>Encrypt</option>
      <option value="decrypt">Decrypt</option>
    </select>
  </div>
  
  <div class="flex-row">
    <label for="cipher">Cipher:</label>
    <select id="cipher" name="cipher">
      <option value="standard-vigenere" selected>Standard Vigenere</option>
      <option value="auto-key-vigenere">Auto-Key Vigenere</option>
      <option value="extended-vigenere">Extended Vigenere</option>
      <option value="playfair">Playfair</option>
      <option value="affine">Affine</option>
      <option value="hill">Hill</option>
      <option value="super-encryption">Super Encryption</option>
      <option value="enigma">Enigma</option>
    </select>
  </div>
  <div class="flex-row">
    <label for="inputType">Input Type:</label>
    <select id="inputType">
      <option value="textInput">Text</option>
      <option value="fileInput">File</option>
    </select>
  </div>
  <div class="flex-col" id="textInput">
    <div class="flex-row">
      <label for="message">Message:</label>
      <textarea id="message" name="message"></textarea>
    </div>
    <%# <div class="flex-row-center">
      <div class="radio">
        <input type="radio" id="plain_input" name="input_style" value="plain">
        <label for="plain_input">Plaintext</label>
      </div>
       <div class="radio">
        <input type="radio" id="hex_input" name="input_style" value="base64">
        <label for="hex_input">Base64</label>
      </div>
    </div> %>
  </div>

  <div class="flex-row" id="fileInput" style="display:none;">
    <label for="file">File:</label>
    <%# <input type="text"> %>
    <input type="file" id="file">
  </div>

  <div class="flex-row">
    <label for="key">Key:</label>
    <input type="text" id="key" name="key">
  </div>

  <input type="submit" value="Submit">
</form>

<div id="result" class="flex-row result">
  <label for="result">Result:</label>
  <span id="result-text">N/A</span>
</div>

<div id="result-base64" class="flex-row result">
  <label for="result-base64">Result (Base64):</label>
  <span id="result-base64-text">N/A</span>
</div>