.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.flex-row-left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.flex-col-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.radio {
  display: block;
}

.result {
  margin: 3em;
}

.inputArea {
  width: 70%;
}

.info-text {
  display: none;
  font-size: small;
}

#message,
#key {
  width: 100%;
}

label {
  width: 30%;
}

form {
  margin: 0 3em;
  gap: 1.2em;
}
